/* Layout - <div> */

.Layout-Video video{
    height: 100%;
    width: 100%;
}

/* Header - Encabezado */

.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0px;
    z-index: 2;
}

.Header .Logotipo h1{
    font-size: 4vw;
    color: var(--Color-Primario);
}

.Header .Navegation-Little{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70vw;
}

    .Header .Navegation-Little .Label-Main{
    position: relative;
    cursor: pointer;
}

.Header .Navegation-Little #Spn-1, #Spn-2, #Spn-3{
    position: absolute;
    content: '';
    background: var(--Color-Primario);
    top: -6px;
    height: 4px;
    width: 20px;
    border-radius: 75px;
    transition: all 400ms linear;
}

.Header .Navegation-Little #Spn-2{
    top: -1px;
}

.Header .Navegation-Little #Spn-3{
    top: 4px;
}

.Header .Navegation-Little #Btn-Main:checked ~ .Label-Main #Spn-1{
    transform: rotate(140deg);
    top: -1px;
}

.Header .Navegation-Little #Btn-Main:checked ~ .Label-Main #Spn-2{
    opacity: 0;
}

.Header .Navegation-Little #Btn-Main:checked ~ .Label-Main #Spn-3{
    transform: rotate(-140deg);
    top: -1px;
}

.Header .Navegation-Little #Btn-Main{
    display: none;
}

.Header .Navegation-Little .Label-Navegation{
    display: none;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little #Navegation-List-FooterLittle{
    position: absolute;
    top: 45vw;
    left: 15px;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little #Navegation-List-MainLittle{
    position: absolute;
    top: 15vw;
    left: 15px;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .Navegation-List-Little .List-Main-Little h2{
    text-transform: uppercase;
    font-size: 4vw;
    color: var(--Color-Primario);
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .Navegation-List-Little .List-Main-Little h3{
    font-size: 2vw;
    text-transform: lowercase;
    color: var(--Color-Primario);
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .Navegation-List-Little .List-Main-Little a{
    font-size: 3vw;
    text-transform: uppercase;
    color: var(--Color-Secundario);
    background: var(--Color-Primario);
    border: 2px solid var(--Color-Secundario);
    padding: 1vw;
    cursor: pointer;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Main-Little a:hover{
    background: var(--Color-Secundario);
    color: var(--Color-Primario);
    border: 2px solid var(--Color-Primario);
    transition: 2s;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little .Facebook-SocialNetworks i{
    font-size: 4vw;
    color: var(--Color-Primario);
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little .Facebook-SocialNetworks i:hover{
    color: var(--Color-Facebook);
    transition: 2s;
    cursor: pointer;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little .TwitterX-SocialNetworks{
    margin-left: 2.5vw;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little .TwitterX-SocialNetworks i{
    font-size: 4vw;
    color: var(--Color-Primario);
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little .TwitterX-SocialNetworks i:hover{
    color: var(--Color-TwitterX);
    transition: 2s;
    cursor: pointer;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little .Instagram-SocialNetworks{
    margin-left: 2.5vw;
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little .Instagram-SocialNetworks i{
    font-size: 4vw;
    color: var(--Color-Primario);
}

.Header .Navegation-Little .Label-Navegation .ListNavegation-Little .List-Footer-Little .Instagram-SocialNetworks i:hover{
    color: var(--Color-Instagram);
    transition: 2s;
    cursor: pointer;
}

.Header .Navegation-Little #Btn-Main:checked ~ .Label-Navegation{
    display: block;
}